.wrapper{
    width: 460px;
}
.content{
    margin-top: 100px;
    margin-left: 64px;
}

h4{
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #E75626;
}

.info{

    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.registrationForm{

    display: flex;
    flex-direction: column;
}

h5{
    color: white;
    font-family: 'Bebas Neue',cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}

input{
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 12px 120px 12px 18px;
    background-color: #171719;
    color: #E75626;
    font-size: 14px;
    line-height: 18px;
}

.buttonSingUp{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    line-height: 120%;
    background: #E75626;
    border-radius: 30px;
    color: white;
    margin-top: 32px;
    padding: 10px 24px 7px 24px;
    width: 150px;
}